.content-body-s{
    padding-top: 50px;
    height: 1102px;
    position: relative;
  }
  
.content-box-s{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
  }
  
.box-s{
    border: 2px solid lightgray;
    height: 200px;
    display: flex;
    column-gap: 10px;
  }
  
  .box-img-s{
  
    height: 100%;
    width: 30%;
  }
  
  .box-img-pic-s{
    width: 100%;
    height: 100%;
  }
  
  .box-text-s{
  
    display:flex;
    flex: 1;
    flex-direction: column;
  }
  .box-text-s1{
  
    width: 100%;
    height: 30%;
  }
  .box-text-s1 p {
    font-size: 25px;
    margin: 0;
    cursor: pointer;
  }
  .box-text-s1 p:hover {
    color:rgb(29, 180, 193);
  }
  .box-text-s2 p{
    font-size: 13px;
  }
  .box-text-s3{
  
    margin: 0;
    height: 30%;
  }
  .box-text-s3 p{
    margin: 0;
    color: gray;
  }
  .box-text-s4{
    flex: 1;
  }
  .box-text-s4 button{
    height: 100%;
    border: none;
    border: 1px solid rgb(29, 180, 193);
    background-color: rgb(29, 180, 193);
    border-radius: 2px;
    cursor:pointer;
  }
  .box-text-s4 button:hover{
    color: rgb(29, 180, 193);
    background-color: white;
    border: 1px solid black
  }

